.issueFilterAddContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    flex-direction: row;
}

.issueFilter {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.issueAdd {
    flex-grow: 2;
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
}